:root {
  --doc-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
  width: 100vw;
  background-color: #94abbd;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ADD8E6;
  width: 100%;
  height: 8%;
}

.Header ul {
  color: #000;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem;
}

.Header li {
  margin-left: 1rem;
}

/* .Header li:hover {
  padding: 1rem;
} */

.Header li a {
  color: #000;
  text-decoration: none;
}

.Header li:hover,
.Header li:hover a {
  background-color: #eee;
  color: #333;
}

.Header li:hover a {
  cursor: pointer;
}

.HeaderComponents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderComponents h1{
  margin: 0%;
}

.cat-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.cat-icon{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cat-icon:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  60% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}

.ChatHeader{
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatBox{
  width: 80%;
  height: 80%;
}

.Footer{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer button{
  background-color: #b8bab9;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.Footer button:hover{
  background-color: #d5d5d3;
}

.Resources{
  height: 93%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr{
  background-color: #ffffff;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #95A5A6;
}

@media (width <= 550px), (height <= 900px){
  .Header h1{
    font-size: 24px;
  }

  .Header li{
    font-size: 12px;
  }

  .cat-icon{
    width: 30px;
    height: 30px;
  }

  .ChatHeader{
    font-size: 12px;
  }

  .Footer button{
    padding: 5px 15px;
    font-size: 12px;
  }

  .Resources{
    font-size: 12px;
  }
}

@media (width <= 450px) {
  .Resources{
    font-size: 10px;
  }

  .Header {
    justify-content: flex-start;
  }

  .Header li{
    font-size: 10px;
  }
}

@media (orientation: portrait) {
 .Header{
  height: 5%;
 }

 .ChatHeader{
  height: 5%;
}

 .Resources{
  height: 95%;
}
}